In [10]:
import pandas as pd
import xml.etree.ElementTree as ET
import random

In [11]:
tree = ET.parse('C:/Users/dazac/Downloads/datos mina/datos produccion/descargas_info.xml')
root = tree.getroot()
data = []
columns = ['Type','Name','PositionedAt','CurrentLoad','MaximumDischarge']
for child in root:
    c = []
    c.append(child.tag)
    c.append(child.attrib['ID'])
    c.append(child.find('positionedAt').attrib['resource'])
    c.append(child.find('currentLoad').text)
    c.append(child.find('maximumDischarge').text)
    data.append(c)
df_descargas = pd.DataFrame(data,columns=columns)
df_descargas

        Type        Name          PositionedAt CurrentLoad MaximumDischarge
0    Crusher  Chancador1                  CS01         0.0                1
1  Stockpile      Stock1     RS1_STOCKCR04_SME         0.0               99
2  Wastedump   Botadero1   UB1_TRANQUEESPA_EST         0.0               99
3  Wastedump   Botadero2  RB2_GUANACOCORTO_EST         0.0               99
4  Wastedump   Botadero3         RB1_ZORRO_EST         0.0               99

In [13]:
tree = ET.parse('C:/Users/dazac/Downloads/datos mina/datos produccion/palas_info.xml')
root = tree.getroot()
data = []
columns = ['Name','PositionedAt','TransportationCapacity','LoadRate','DigRate','CurrentLoad','IdealAmount','Destination']
for child in root:
    c = []
    if child.find('positionedAt').attrib['resource'] not in 'RS1_STOCKCR04_SME':
        c.append(child.attrib['ID'])
        c.append(child.find('positionedAt').attrib['resource'])
        c.append(child.find('transportationCapacity').text)
        c.append(child.find('loadRate').text)
        #c.append(child.find('digRate').text)
        c.append(random.randint(10000,18001))
        c.append(child.find('currentLoad').text)
        c.append(child.find('idealAmount').text)
        c.append(child.find('destination').attrib['resource'])
        data.append(c)
df_palas = pd.DataFrame(data,columns=columns)
df_palas

,Name,PositionedAt,TransportationCapacity,LoadRate,DigRate,CurrentLoad,IdealAmount,Destination
0,CF04,UB1_4390_EST,36,326,12324,0,0,Botadero1
1,PA08,RF10A_4390_1032_1,73,76,11258,0,0,Botadero2
2,PA09,RF9B_4135_902_1,73,106,16869,0,0,Stock1
3,PA10,RF11_4405_1124_1,73,110,13665,0,0,Botadero3
4,PA11,RF10A_4390_1025_1,74,71,12192,0,0,Botadero2
5,PA13,RF10A_4375_1005_1,74,86,16022,0,0,Botadero2
6,PA14,RF10A_4390_1018_1,74,73,17180,0,0,Botadero3
7,PA15,RF9B_4135_905_1,36,219,12191,0,0,Stock1
8,PA16,RS1_PARINA_SME,36,193,11729,0,0,Stock1
9,PA21,RF10A_4390_1028_1,79,97,12053,0,0,Botadero3

In [14]:
df_destinos = df_palas.merge(df_descargas, left_on='Destination', right_on='Name')
df_destinos = df_destinos.loc[:,['Name_x','PositionedAt_x','Destination','PositionedAt_y']]
df_destinos

  Name_x     PositionedAt_x Destination        PositionedAt_y
0   CF04       UB1_4390_EST   Botadero1   UB1_TRANQUEESPA_EST
1   PA08  RF10A_4390_1032_1   Botadero2  RB2_GUANACOCORTO_EST
2   PA11  RF10A_4390_1025_1   Botadero2  RB2_GUANACOCORTO_EST
3   PA13  RF10A_4375_1005_1   Botadero2  RB2_GUANACOCORTO_EST
4   PA09    RF9B_4135_902_1      Stock1     RS1_STOCKCR04_SME
5   PA15    RF9B_4135_905_1      Stock1     RS1_STOCKCR04_SME
6   PA16     RS1_PARINA_SME      Stock1     RS1_STOCKCR04_SME
7   PA10   RF11_4405_1124_1   Botadero3         RB1_ZORRO_EST
8   PA14  RF10A_4390_1018_1   Botadero3         RB1_ZORRO_EST
9   PA21  RF10A_4390_1028_1   Botadero3         RB1_ZORRO_EST

In [16]:
tree = ET.parse('C:/Users/dazac/Downloads/datos mina/datos produccion/nodos_info.xml')
root = tree.getroot()
data = []
columns = ['Name','Latitude','Longitude']
for child in root:
    c = []
    c.append(child.attrib['about'].replace('-','_').replace('.',''))
    c.append(child.find('latitude').text.replace('.',','))
    c.append(child.find('longitude').text.replace('.',','))
    data.append(c)
df_nodos = pd.DataFrame(data,columns=columns)
df_nodos.head()
df_nodos.to_csv(path_or_buf='C:/Users/dazac/Downloads/datos mina/datos produccion/generados/datos_nodos.csv', sep=',', header=True, index=False)

In [17]:
#exportar todos los csv
df_destinos.to_csv(path_or_buf='C:/Users/dazac/Downloads/datos mina/datos produccion/generados/datos_destinos.csv', sep=',', header=True, index=False)
df_palas.to_csv(path_or_buf='C:/Users/dazac/Downloads/datos mina/datos produccion/generados/datos_cargas.csv', sep=',', header=True, index=False)
df_descargas.to_csv(path_or_buf='C:/Users/dazac/Downloads/datos mina/datos produccion/generados/datos_descargas.csv', sep=',', header=True, index=False)
df_nodos.to_csv(path_or_buf='C:/Users/dazac/Downloads/datos mina/datos produccion/generados/datos_nodos.csv', sep=',', header=True, index=False)